// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables

// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.
$primary = #795548
$secondary = #996C57
$tertiary = #C59e61
$neutral = #808080
$positive = #21BA45
$negative = #EA444F
$info = #31CCEC
$warning = #F2C037
// TPTEA
$qcardWidth = 360px
$facebook = #4267B2

@media (max-width: 680px)
  .et-grid
    height calc(100vh - 230px) !important

@media (min-width: 681px)
  .et-grid
    height calc(100vh - 179px) !important
